* {
  margin: 0;
  padding: 0;
}
.nav {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

a:hover{
  color: blue;
}
.link{
  color: #999;
  font-weight: 600;
}
.link:hover{
  color: #4a6cf7;
}
.heading{
  color: #000;
}
.heading:hover{
  color: #4a6cf7;
}
